.container {
  margin-left: 300px;
  margin-top: 10px;
  background-color: rgb(44, 44, 44);
  padding: 20px;
  height: auto;
  width: 50%;
}
.f-2r {
  font-size: 1.4rem;
}
.circle {
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  background-color: skyblue;
  border-radius: 25px;
  width: 50px !important;
  height: 50px !important;
  font-size: 1rem;
  text-align: center;
}

h1 {
  display: inline;
}

col {
  margin: 0;
  padding: 0;
}

.text-cen {
  text-align: center;
  align-items: center;
}

.overWeight {
  background-color: orange;
}

.estimation {
  background-color: rgb(6, 147, 202);
}

.transform {
  transform: rotate(45deg);
}

.gicon-size {
  font-size: 40px;
}
